.navbar{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.navbar h1{
color:white;
}

.profileBtn{
background:#2563eb;
border:none;
color:white;
padding:10px 20px;
border-radius:8px;
cursor:pointer;
}