html,
body,
#root{
width:100%;
height:100%;
background:#060912;
}

body{
overflow-x:hidden;
}

a{
text-decoration:none;
color:inherit;
}

button{
cursor:pointer;
}

table{
width:100%;
border-collapse:collapse;
}

input,
select,
textarea{
outline:none;
}